html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

@media (max-width: 576px) {
  h3 {
    color: white !important;
    background: #7a9bcc;
    padding: 10px 10px;
    margin: 0 !important; } }

.containerMain {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 30% 70%; }
  @media (max-width: 576px) {
    .containerMain {
      display: flex;
      width: 100%;
      flex-direction: column; } }
  .containerMain .studensInfo {
    background: #76CCE7;
    padding: 0px 15px 15px 15px; }
    .containerMain .studensInfo h2 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 30px; }
      @media (max-width: 576px) {
        .containerMain .studensInfo h2 {
          text-align: start; } }
    .containerMain .studensInfo .detail__info .info {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;
      margin: 10px 0; }
      .containerMain .studensInfo .detail__info .info label {
        font-weight: bold;
        font-size: 14px; }
      .containerMain .studensInfo .detail__info .info input {
        padding: 3px 10px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 3px; }
      .containerMain .studensInfo .detail__info .info input:hover {
        border-color: #1dbfaf; }
    .containerMain .studensInfo .detail__info #fullname--error, .containerMain .studensInfo .detail__info #mail--error,
    .containerMain .studensInfo .detail__info #phone--error,
    .containerMain .studensInfo .detail__info #addr--error,
    .containerMain .studensInfo .detail__info #gender--error,
    .containerMain .studensInfo .detail__info #pass--error,
    .containerMain .studensInfo .detail__info #repass--error {
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      color: red; }
    .containerMain .studensInfo .detail__info .gender {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center; }
      .containerMain .studensInfo .detail__info .gender label {
        font-weight: bold;
        font-size: 14px; }
      .containerMain .studensInfo .detail__info .gender .gender--item {
        display: flex;
        gap: 2rem; }
    .containerMain .studensInfo .detail__info button {
      margin-top: 15px;
      float: right; }
  .containerMain .studensList {
    background: #d0ade2;
    padding: 0px 15px 15px 15px; }
    @media (max-width: 576px) {
      .containerMain .studensList {
        background: transparent; } }
    .containerMain .studensList h2 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 30px; }
      @media (max-width: 576px) {
        .containerMain .studensList h2 {
          text-align: start; } }
    @media (max-width: 576px) {
      .containerMain .studensList .detail__list table thead .info {
        display: none; } }
    .containerMain .studensList .detail__list table thead .info th {
      text-align: center; }
    .containerMain .studensList .detail__list table tbody tr {
      text-align: center; }
      @media (max-width: 576px) {
        .containerMain .studensList .detail__list table tbody tr {
          display: grid;
          grid-template-columns: 30% 48% 22%;
          font-size: 12px;
          margin-bottom: 2rem; } }
      @media (max-width: 576px) {
        .containerMain .studensList .detail__list table tbody tr td:first-child {
          display: none; } }
      .containerMain .studensList .detail__list table tbody tr td {
        padding: 10px 0; }
      .containerMain .studensList .detail__list table tbody tr td.control a {
        color: white;
        text-decoration: none;
        padding: 2px 6px;
        margin: 0 2px;
        font-size: 10px;
        border-radius: 3px; }
      .containerMain .studensList .detail__list table tbody tr td.control a:first-child {
        background: #3131ff; }
      .containerMain .studensList .detail__list table tbody tr td.control a:last-child {
        background: red; }
