html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

@media (max-width: 576px) {
  h3 {
    color: white !important;
    background: #7a9bcc;
    padding: 10px 10px;
    text-align: center;
    width: 100% !important;
    margin: 0 !important; } }

.containerMain {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 32% 68%;
  gap: 1rem; }
  @media (max-width: 576px) {
    .containerMain {
      display: flex;
      width: 100%;
      flex-direction: column; } }
  .containerMain .studensInfo {
    padding: 0px 15px 15px 15px;
    border: 1px solid #dad9d9;
    border-radius: 10px; }
    .containerMain .studensInfo h2 {
      font-size: 20px;
      margin-bottom: 30px; }
      @media (max-width: 576px) {
        .containerMain .studensInfo h2 {
          text-align: start; } }
    .containerMain .studensInfo .detail__info .info {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;
      margin: 10px 0; }
      .containerMain .studensInfo .detail__info .info label {
        font-weight: normal;
        font-size: 14px; }
      .containerMain .studensInfo .detail__info .info input {
        padding: 3px 10px;
        border: 1px solid #dad9d9;
        outline: none;
        border-radius: 3px; }
      .containerMain .studensInfo .detail__info .info input:hover {
        border-color: #1dbfaf; }
      .containerMain .studensInfo .detail__info .info .pass,
      .containerMain .studensInfo .detail__info .info .repass {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer; }
    .containerMain .studensInfo .detail__info #fullname--error, .containerMain .studensInfo .detail__info #mail--error,
    .containerMain .studensInfo .detail__info #phone--error,
    .containerMain .studensInfo .detail__info #addr--error,
    .containerMain .studensInfo .detail__info #gender--error,
    .containerMain .studensInfo .detail__info #pass--error,
    .containerMain .studensInfo .detail__info #repass--error {
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      color: red; }
    .containerMain .studensInfo .detail__info .gender {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center; }
      .containerMain .studensInfo .detail__info .gender label {
        font-weight: normal;
        font-size: 14px; }
      .containerMain .studensInfo .detail__info .gender .gender--item {
        display: flex;
        gap: 2rem; }
    .containerMain .studensInfo .detail__info .handle {
      display: grid;
      grid-template-columns: 30% 40% 30%;
      align-items: center; }
      .containerMain .studensInfo .detail__info .handle button {
        background: #00ac1d;
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        padding: 3px 0px;
        width: 70px;
        cursor: pointer;
        border: 1px solid #cccccc;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out; }
      .containerMain .studensInfo .detail__info .handle .reset {
        text-align: end;
        opacity: 0.8;
        font-size: 20px;
        cursor: pointer; }
  .containerMain .studensList {
    padding: 0px 15px 15px 15px;
    border: 1px solid #ccc;
    border-radius: 10px; }
    @media (max-width: 576px) {
      .containerMain .studensList {
        background: transparent; } }
    .containerMain .studensList .heading__list {
      display: grid;
      grid-template-columns: 30% 35% 35%;
      align-items: center;
      gap: 1rem; }
      .containerMain .studensList .heading__list h2 {
        font-size: 2rem;
        margin-bottom: 30px; }
        @media (max-width: 576px) {
          .containerMain .studensList .heading__list h2 {
            text-align: start; } }
      .containerMain .studensList .heading__list .filter {
        display: flex;
        align-items: center;
        gap: 1rem; }
        .containerMain .studensList .heading__list .filter select {
          width: 12rem;
          border-radius: 5px;
          padding: 3px;
          outline: none;
          height: 2.7rem;
          border: 1px solid #ccc; }
      .containerMain .studensList .heading__list .search {
        text-align: center; }
        .containerMain .studensList .heading__list .search input,
        .containerMain .studensList .heading__list .search button {
          border-radius: 5px;
          outline: none;
          border: 1px solid #ccc;
          height: 2.7rem; }
    @media (max-width: 576px) {
      .containerMain .studensList .detail__list table .info {
        display: none; } }
    .containerMain .studensList .detail__list table .info th {
      text-align: center; }
    .containerMain .studensList .detail__list table tbody tr {
      text-align: center;
      display: grid;
      grid-template-columns: 2.5% 16.5% 27% 13% 15% 8% 18%; }
      @media (max-width: 576px) {
        .containerMain .studensList .detail__list table tbody tr {
          display: grid;
          grid-template-columns: 23% 46% 31%;
          font-size: 12px; } }
      @media (max-width: 576px) {
        .containerMain .studensList .detail__list table tbody tr td:first-child {
          display: none; } }
      .containerMain .studensList .detail__list table tbody tr td {
        padding: 10px 0; }
      .containerMain .studensList .detail__list table tbody tr td.control {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        gap: 3px;
        width: 90%;
        margin: auto; }
        .containerMain .studensList .detail__list table tbody tr td.control a {
          text-decoration: none;
          padding: 3px;
          font-size: 10px;
          border-radius: 5px;
          font-weight: bold; }
        .containerMain .studensList .detail__list table tbody tr td.control a:first-child {
          border: 1px solid #4b4bfd;
          color: #4b4bfd; }
        .containerMain .studensList .detail__list table tbody tr td.control a:nth-child(2) {
          border: 1px solid #ff3d3d;
          color: #ff3d3d; }
        .containerMain .studensList .detail__list table tbody tr td.control a:last-child {
          border: 1px solid orange;
          color: orange; }
    .containerMain .studensList .pagination {
      display: grid;
      grid-template-columns: 10% 10% 60% 10% 10%;
      width: 40%;
      margin: auto;
      align-items: center;
      cursor: pointer; }
      .containerMain .studensList .pagination .double--prev,
      .containerMain .studensList .pagination .prev,
      .containerMain .studensList .pagination .next,
      .containerMain .studensList .pagination .double--next {
        display: flex;
        justify-content: center;
        opacity: 0.8; }
      .containerMain .studensList .pagination .numb {
        display: flex;
        gap: 1rem;
        justify-content: center; }
        .containerMain .studensList .pagination .numb .numb--item, .containerMain .studensList .pagination .numb .active {
          background: #ccc;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 13px; }
        .containerMain .studensList .pagination .numb .active {
          background: #08806c;
          color: white;
          font-weight: bold; }
