@import "variable.scss";
h4 {
    @include phone {
        color: white !important;
        background: #7a9bcc;
        padding: 10px 10px;
        text-align: center;
        width: 100% !important;
        margin: 0 !important;
    }
}

.containerMain {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 31% 68%;
    gap: 1rem;
    @include phone {
        display: flex;
        width: 100%;
        flex-direction: column;
        background: #ccc;
    }
    .studensInfo {
        padding: 0px 15px 15px 15px;
        border: 1px solid #dad9d9;
        border-radius: 10px;
        background: white;
        @include phone {
            border-radius: 0;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 30px;
            @include phone {
                text-align: start;
            }
        }
        .detail__info {
            .info {
                display: grid;
                grid-template-columns: 30% 70%;
                align-items: center;
                margin: 10px 0;
                label {
                    font-weight: 450;
                    font-size: 13px;
                }
                input {
                    padding: 3px 10px;
                    border: 1px solid #dad9d9;
                    outline: none;
                    border-radius: 3px;
                }
                input:hover {
                    border-color: #1dbfaf;
                }
                .pass,
                .repass {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                    input {
                        width: 85%;
                    }
                }
            }
            #fullname--error {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
                color: red;
            }
            #mail--error,
            #phone--error,
            #addr--error,
            #gender--error,
            #pass--error,
            #repass--error {
                @extend #fullname--error;
            }
            .gender {
                display: grid;
                grid-template-columns: 30% 70%;
                align-items: center;
                label {
                    font-weight: 450;
                    font-size: 14px;
                }
                .gender--item {
                    display: flex;
                    gap: 2rem;
                }
            }
            .handle {
                display: grid;
                grid-template-columns: 30% 40% 30%;
                align-items: center;
                button {
                    background: #00ac1d;
                    color: #ffffff;
                    font-size: 15px;
                    text-align: center;
                    padding: 3px 0px;
                    width: 70px;
                    cursor: pointer;
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    transition: background-color 0.3s ease-in-out;
                }
                .reset {
                    text-align: end;
                    opacity: 0.8;
                    font-size: 20px;
                    cursor: pointer;
                    @include phone {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .studensList {
        padding: 0px 15px 15px 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background: white;
        @include phone {
            border-radius: 0;
        }
        .heading__list {
            @include phone {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            h2 {
                font-size: 2rem;
                margin-bottom: 30px;
                @include phone {
                    text-align: start;
                }
            }
            .module {
                display: grid;
                grid-template-columns: 40% 50% 10%;
                align-items: center;
                margin: 15px 0;
                position: relative;
                @include phone {
                    width: 100%;
                    grid-template-columns: 37% 63%;
                    margin-bottom: 15px;
                }
                .filter {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    span {
                        @include phone {
                            display: none;
                        }
                    }
                    select {
                        width: 12rem;
                        border-radius: 5px;
                        padding: 3px;
                        outline: none;
                        height: 2.7rem;
                        border: 1px solid #ccc;
                    }
                }
                .search {
                    text-align: center;
                    display: flex;
                    gap: 3px;
                    justify-content: flex-end;
                    align-items: center;
                    span {
                        @include phone {
                            display: none;
                        }
                    }
                    input,
                    button {
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid #ccc;
                        height: 2.7rem;
                    }
                    input#search--input {
                        @include phone {
                            width: 75%;
                        }
                    }
                }
                .menu {
                    text-align: end;
                    font-size: 25px;
                    color: teal;
                    cursor: pointer;
                    @include phone {
                        position: absolute;
                        inset: auto 0rem 6.5rem;
                    }
                }
                .navMenu {
                    display: none;
                    background: #fbeaad;
                    padding: 20px 15px;
                    position: absolute;
                    right: 0rem;
                    top: 4rem;
                    width: 40rem;
                    border-radius: 5px;
                    box-shadow: 0 0 5px #aaaaaa;
                    cursor: move;
                    z-index: 10;
                    @include phone {
                        position: absolute;
                        width: 100%;
                        margin: auto;
                        inset: auto;
                    }
                    .setting__more {
                        display: grid;
                        font-size: 20px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        grid-template-columns: 50% 50%;
                        @include phone {
                            grid-template-columns: 70% 30%;
                        }
                        span {
                            color: #34b43e;
                            font-weight: 500;
                            @include phone {
                                font-size: 16px;
                            }
                        }
                        i {
                            color: cornflowerblue;
                            text-align: end;
                        }
                        i:hover {
                            color: #34b43e;
                        }
                        .extend--feature {
                            background: white;
                            font-size: 14px;
                            position: absolute;
                            top: 5rem;
                            right: 2rem;
                            width: 28rem;
                            z-index: 99;
                            display: none;
                            padding: 10px 0;
                            .feature--item {
                                display: flex;
                                gap: 1rem;
                                align-items: center;
                                padding: 10px 15px;
                            }
                            .feature--item:hover {
                                background: rgb(255, 233, 233);
                            }
                        }
                    }
                    .setup__data {
                        display: grid;
                        grid-template-columns: 40% 60%;
                        margin-bottom: 25px;
                        @include phone {
                            grid-template-columns: 50% 50%;
                        }
                        .download {
                            width: 12rem;
                            background: #46b14f;
                            border-radius: 5px;
                            height: 3rem;
                            display: flex;
                            align-items: center;
                            color: white;
                            gap: 1rem;
                            justify-content: center;
                            padding: 5px 10px;
                            cursor: pointer;
                            span {}
                        }
                        .setup__item {
                            .setting {
                                display: flex;
                                background-color: #909090;
                                color: #ffffff;
                                align-items: center;
                                font-size: 14px;
                                gap: 1rem;
                                padding: 6px 8px;
                                cursor: pointer;
                                border: 1px solid #cccccc;
                                border-radius: 5px;
                                transition: background-color 0.3s ease-in-out;
                                @include phone {
                                    font-size: 10px;
                                    letter-spacing: 0.25px;
                                }
                            }
                            .option {
                                display: none;
                                background: white;
                                padding: 0;
                                p {
                                    padding: 5px 10px;
                                }
                                p:hover {
                                    background: rgb(39, 151, 39);
                                    color: white;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .setting__detail {
                        .alert__add {
                            display: grid;
                            grid-template-columns: 70% 30%;
                            margin: 10px 0px;
                            span {
                                font-weight: 500;
                                @include phone {
                                    font-size: 12px;
                                }
                            }
                            .switch {
                                position: relative;
                                display: inline-block;
                                width: 50px;
                                height: 22px;
                                input {
                                    opacity: 0;
                                    width: 0;
                                    height: 0;
                                }
                                .slider {
                                    position: absolute;
                                    cursor: pointer;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    background-color: #ccc;
                                    transition: .4s;
                                }
                                .slider:before {
                                    position: absolute;
                                    content: "";
                                    height: 19px;
                                    width: 19px;
                                    left: 3px;
                                    bottom: 2px;
                                    background-color: white;
                                    -webkit-transition: .4s;
                                    transition: .4s;
                                }
                                input:checked+.slider {
                                    background-color: #08c045;
                                }
                                input:checked+.slider:before {
                                    -webkit-transform: translateX(26px);
                                    -ms-transform: translateX(26px);
                                    transform: translateX(26px);
                                }
                                /* Rounded sliders */
                                .slider.round {
                                    border-radius: 34px;
                                }
                                .slider.round:before {
                                    border-radius: 50%;
                                }
                            }
                        }
                        .alert__update,
                        .alert__delete,
                        .alert__intro {
                            @extend .alert__add;
                        }
                    }
                }
                .unselectable {
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
            }
        }
        .detail__list {
            table {
                .info {
                    @include phone {
                        display: none;
                    }
                    th {
                        text-align: center;
                    }
                }
                tbody {
                    tr {
                        text-align: center;
                        display: grid;
                        grid-template-columns: 2.5% 16.5% 27% 13% 15% 8% 18%;
                        @include phone {
                            display: grid;
                            grid-template-columns: 22% 49% 28%;
                            font-size: 11px;
                            text-align: start;
                        }
                        td:first-child {
                            @include phone {
                                display: none;
                            }
                        }
                        td {
                            padding: 10px 0;
                        }
                        td.control {
                            display: grid;
                            grid-template-columns: 30% 40% 30%;
                            gap: 3px;
                            width: 90%;
                            margin: auto;
                            @include phone {
                                grid-template-columns: 50% 50%;
                            }
                            a {
                                text-decoration: none;
                                padding: 3px;
                                font-size: 10px;
                                border-radius: 5px;
                                font-weight: bold;
                                @include phone {
                                    padding: 0;
                                    text-align: center;
                                }
                            }
                            a:first-child {
                                border: 1px solid #4b4bfd;
                                color: #4b4bfd;
                            }
                            a:nth-child(2) {
                                border: 1px solid #ff3d3d;
                                color: #ff3d3d;
                            }
                            a:last-child {
                                border: 1px solid orange;
                                color: orange;
                                @include phone {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pagination {
            display: grid;
            grid-template-columns: 10% 10% 60% 10% 10%;
            width: 35%;
            margin: auto;
            align-items: center;
            cursor: pointer;
            @include phone {
                width: 80%;
            }
            .double--prev,
            .prev,
            .next,
            .double--next {
                display: flex;
                justify-content: center;
                opacity: 0.8;
            }
            .numb {
                display: flex;
                gap: 1rem;
                justify-content: center;
                .numb--item {
                    background: #ccc;
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                }
                .active {
                    background: #00ac1d;
                    color: white;
                    font-weight: bold;
                    @extend .numb--item;
                }
                .numb--item:nth-child() {
                    @extend .numb--item;
                }
            }
        }
    }
}

#list--courses {
    width: 90%;
    background: white;
    margin: 15px auto;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    display: grid;
    gap: 2rem;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    @include phone {
        display: flex;
        flex-direction: column;
    }
    .courses--item {
        img {
            width: 100%;
        }
        .participants {
            display: flex;
            align-items: center;
            gap: 1rem;
            opacity: 0.8;
        }
        .control {
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: flex-end;
            i {
                font-size: 20px;
                cursor: pointer;
            }
            .far.fa-window-close {
                color: red;
            }
            .far.fa-edit {
                color: blue;
            }
        }
    }
}

#Add--Courses {
    width: 90%;
    margin: 15px auto;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
    background: white;
    .fields--info {
        display: grid;
        grid-template-columns: 15% 85%;
        margin: 10px 0;
        @include phone {
            display: flex;
            flex-direction: column;
        }
        input {
            border-radius: 5px;
            outline: none;
            height: 3rem;
            border: 1px solid #ccc;
        }
        // .file {
        //     display: flex;
        //     align-items: center;
        //     gap: 1rem;
        //     // .custom-file {
        //     //     cursor: pointer;
        //     //     width: 15rem;
        //     //     height: 34px;
        //     //     overflow: hidden;
        //     // }
        //     // .custom-file:before {
        //     //     width: 15rem;
        //     //     height: 32px;
        //     //     font-size: 16px;
        //     //     line-height: 32px;
        //     //     content: 'Upload file';
        //     //     display: inline-block;
        //     //     padding: 0 10px;
        //     //     text-align: center;
        //     //     background: green;
        //     //     color: white;
        //     // }
        //     // .custom-file::-webkit-file-upload-button {
        //     //     visibility: hidden;
        //     // }
        // }
    }
    .module {
        display: flex;
        justify-content: flex-end;
        #create,
        #update {
            background: green;
            color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 8rem;
            padding: 3px 0px;
        }
    }
}