@import "variable.scss";
h3 {
    @include phone {
        color: white !important;
        background: #7a9bcc;
        padding: 10px 10px;
        text-align: center;
        width: 100% !important;
        margin: 0 !important;
    }
}

.containerMain {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 32% 68%;
    gap: 1rem;
    @include phone {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .studensInfo {
        padding: 0px 15px 15px 15px;
        border: 1px solid #dad9d9;
        border-radius: 10px;
        h2 {
            font-size: 20px;
            margin-bottom: 30px;
            @include phone {
                text-align: start;
            }
        }
        .detail__info {
            .info {
                display: grid;
                grid-template-columns: 30% 70%;
                align-items: center;
                margin: 10px 0;
                label {
                    font-weight: normal;
                    font-size: 14px;
                }
                input {
                    padding: 3px 10px;
                    border: 1px solid #dad9d9;
                    outline: none;
                    border-radius: 3px;
                }
                input:hover {
                    border-color: #1dbfaf;
                }
                .pass,
                .repass {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                }
            }
            #fullname--error {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
                color: red;
            }
            #mail--error,
            #phone--error,
            #addr--error,
            #gender--error,
            #pass--error,
            #repass--error {
                @extend #fullname--error;
            }
            .gender {
                display: grid;
                grid-template-columns: 30% 70%;
                align-items: center;
                label {
                    font-weight: normal;
                    font-size: 14px;
                }
                .gender--item {
                    display: flex;
                    gap: 2rem;
                }
            }
            .handle {
                display: grid;
                grid-template-columns: 30% 40% 30%;
                align-items: center;
                button {
                    background: #00ac1d;
                    color: #ffffff;
                    font-size: 15px;
                    text-align: center;
                    padding: 3px 0px;
                    width: 70px;
                    cursor: pointer;
                    border: 1px solid #cccccc;
                    border-radius: 5px;
                    transition: background-color 0.3s ease-in-out;
                }
                .reset {
                    text-align: end;
                    opacity: 0.8;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
    .studensList {
        padding: 0px 15px 15px 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        @include phone {
            background: transparent;
        }
        .heading__list {
            display: grid;
            grid-template-columns: 30% 35% 35%;
            align-items: center;
            gap: 1rem;
            h2 {
                font-size: 2rem;
                margin-bottom: 30px;
                @include phone {
                    text-align: start;
                }
            }
            .filter {
                display: flex;
                align-items: center;
                gap: 1rem;
                select {
                    width: 12rem;
                    border-radius: 5px;
                    padding: 3px;
                    outline: none;
                    height: 2.7rem;
                    border: 1px solid #ccc;
                }
            }
            .search {
                text-align: center;
                input,
                button {
                    border-radius: 5px;
                    outline: none;
                    border: 1px solid #ccc;
                    height: 2.7rem;
                }
            }
        }
        .detail__list {
            table {
                .info {
                    @include phone {
                        display: none;
                    }
                    th {
                        text-align: center;
                    }
                }
                tbody {
                    tr {
                        text-align: center;
                        display: grid;
                        grid-template-columns: 2.5% 16.5% 27% 13% 15% 8% 18%;
                        @include phone {
                            display: grid;
                            grid-template-columns: 23% 46% 31%;
                            font-size: 12px;
                        }
                        td:first-child {
                            @include phone {
                                display: none;
                            }
                        }
                        td {
                            padding: 10px 0;
                        }
                        td.control {
                            display: grid;
                            grid-template-columns: 30% 40% 30%;
                            gap: 3px;
                            width: 90%;
                            margin: auto;
                            a {
                                text-decoration: none;
                                padding: 3px;
                                font-size: 10px;
                                border-radius: 5px;
                                font-weight: bold;
                            }
                            a:first-child {
                                border: 1px solid #4b4bfd;
                                color: #4b4bfd;
                            }
                            a:nth-child(2) {
                                border: 1px solid #ff3d3d;
                                color: #ff3d3d;
                            }
                            a:last-child {
                                border: 1px solid orange;
                                color: orange;
                            }
                        }
                    }
                }
            }
        }
        .pagination {
            display: grid;
            grid-template-columns: 10% 10% 60% 10% 10%;
            width: 40%;
            margin: auto;
            align-items: center;
            cursor: pointer;
            .double--prev,
            .prev,
            .next,
            .double--next {
                display: flex;
                justify-content: center;
                opacity: 0.8;
            }
            .numb {
                display: flex;
                gap: 1rem;
                justify-content: center;
                .numb--item {
                    background: #ccc;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                }
                .active {
                    background: rgb(8, 128, 108);
                    color: white;
                    font-weight: bold;
                    @extend .numb--item;
                }
                .numb--item:nth-child() {
                    @extend .numb--item;
                }
            }
        }
    }
}